body
{
	background-color: white;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 6rem;
  padding-bottom: 3rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

